%h1 Lists

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Owner
  %tbody
    - lists.each do |list|
      %tr
        %td= list.name
        %td= list.owner if list.owner_id.present?
        %td
          = link_to 'Show', user_list_path(list), class: 'btn btn-default'
          = link_to 'Destroy', user_list_path(list), method: :delete, data: {confirm:'Are you certain?'}, class: 'btn btn-default'
