%h1 Lists

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Owner
  %tbody
    - @my_lists.each do |my_list|
      %tr
        %td= my_list.name
        %td= my_list.user.to_s if my_list.user
        %td
          = link_to 'Show', my_list_path(my_list), class: 'btn'
          = link_to 'Destroy', my_list_path(my_list), method: :delete, data: {confirm:'Are you certain?'}, class: 'btn'
