%h1= @my_list.name
=link_to 'Change List name', edit_my_list_path(@my_list)

-if @my_list.tasks.count > 0
  %table
    %thead
      %tr
        %th Title
    %tbody
      - @my_list.tasks.each do |task|
        %tr
          %td= task.title
-else
  %p Oh my! This list has no tasks. Add some using form below.
%br

-#%h2 Add a new task
-#=semantic_form_for [@my_list, @task] do |f|
-#  =f.input :title
-#  =f.input :start_at
-#  =f.input :end_at
-#  =f.input :description
-#  =f.submit
