%h1 Edit user
= semantic_form_for [:user, profile], url: user_profile_path, method: :patch do |f|
  =f.input :first_name
  =f.input :last_name
  =f.input :age
  =f.submit
%br
%div
  = link_to "Change your password", edit_user_registration_path
%br
  =link_to 'Back', user_profile_path
